<!DOCTYPE html>
<html>
<%- include partial/header %>
<body>
  <section>
    <%if(err){  %>
    <div id="info"><%=info%></div>
    <%} %>
  <form action="/login" method="post" class="login">
    <div>
      <p>Username</p>
      <input type="text" name="user_name" placeholder="User Login">
    </div>
    <div>
      <p>Password</p>
      <input type="password" name="user_pass" placeholder="Password">
    </div>
    <div>
    <p><input type="submit" value="Login"> <a href="/signup">Sign Up</a></p>
    </div>
  </form>
</section>
</body>
</html>
<!-- <a href="/signup">SignUp</a> -->
