<!DOCTYPE html>
<html>
<%- include partial/header %>
<body>
  <section>
  <h3>Login Member</h3>
  <%if(err){  %>
    <div id="info"><%=info%></div>
  <%} %>
  <form action="/login" method="post">
    <div>
      <p>User</p>
      <input type="text" name="user_name" placeholder="User Login">
    </div>
    <div>
      <p>Password</p>
      <input type="text" name="user_pass" placeholder="Password">
    </div>
    <div>
      <p><input type="submit" value="Login"></p>
    </div>
  </form>
</section>
</body>
</html>
<!-- <a href="/signup">SignUp</a> -->
