<html>
  <%- include partial/header %>
  <body>
    <%- include partial/menu %>
    <div class="container">
      <h2>Add data user</h2>
      <h3><a href='/users'>Show all data</a></h3>
      <form action="/users/add" method="post">
      <p>Username</p>
      <input type="text" name="user_name" placeholder="input username">
      <label><%-message%></label>
      <p>Password</p>
      <input type="text" name="user_pass" placeholder="input password">
      <p>Role</p>
      <select name="role">
        <option value="admin" selected>admin</option>
        <option value="customer">customer</option>
      </select>
      </p>
      <p>Jumlah Deposito</p>
      <input type="text" name="deposito" placeholder="input deposito">
      <p>
      <input type="submit" value="Add User">
      </p>
      </form>
    </div>
  </body>
</html>
