<head>
  <title>Warung Online</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="/static/csscss/screen.css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/transaksi.js"></script>
</head>
