<div class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/barangs">Barang</a></li>
    <li><a href="/transaksi">Transaksi</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/reports">Laporan</a></li>
    <li style="float:right"><a href="/logout">LogOut</a></li>
  </ul>
</div>
